@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
	margin: 0;
	padding: 0;
	color: #000080;
	background-color: #f1ca8c;
}
p, a, li, input, textarea, label, button {
	font-size: 1.2rem;
	font-family: "Montserrat", sans-serif;
}
h1 {
	font-size: 2.75rem;
	font-family: "DM Serif Display", serif;
}
h2 {
	font-size: 2rem;
	font-family: "DM Serif Display", serif;
}
h3 {
	font-size: 1.5rem;
	font-family: "DM Serif Display", serif;
}
nav {
	background-color: #f8f3ea;
	display: flex;
	position: fixed;
	width: calc(100vw - 100px);
	top: 0;
	left: 0;
	justify-content: space-between;
	align-items: center;
	padding: 15px 50px;
}
nav a img {
	width: 50%;
	min-width: 100px;
}
.navLinksContainer {
	gap: 50px;  
	font-family: "Montserrat", sans-serif;
}
.navLinksContainer a {
	text-decoration: none;
	margin-left: 50px;
}
.navLinksContainer a:not(.cta) {
	color: rgba(0,0,0,0.8);
	padding: 15px;
	border-radius: 15px;
	transition: 0.4s color, 0.4s background;
}
.navLinksContainer a:not(.cta):hover {
	color: rgba(0,0,0,1);
	background: #e8e1d3;
}
.cta {
	background-color: #565bf5;
	color: white;
	padding: 15px;
	text-decoration: none;
	border-radius: 15px;
	transition: 0.4s background;
}
.cta:hover {
	background-color: #4d52d1;
}
#menuPhone {
	display: none;
	width: 25px;
	cursor: pointer;
	position: relative;
	z-index: 11;
}
main {
	margin-top: var(--nav-height);
	padding: 0;
}
#homeMain {
	display: flex;
}
#homeMain * {
	width: 50%;
}
#homeHeaderImg {
	background: url("./Images/homeHeader.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 25%;
	height: calc(100vh - var(--nav-height));
}
#homeHeaderContentContainer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 100px;
	background-color: #f1ca8c;
}
#homeHeaderContent {
	width: 75%;
}
#homeHeaderContent * {
	width: 100%;
}
#homeHeaderContent p {
	line-height: 1.35rem;
	font-family: "Montserrat", sans-serif;
}
#homeHeaderContent h1 {
	font-family: "DM Serif Display", serif;
	margin-bottom: 50px;
	text-transform: uppercase;
	line-height: 3.5rem;
}
#homeHeaderContent a {
	font-family: "Montserrat", sans-serif;
}
footer {
	background-color: #222222;
	color: white;
	text-align: center;
	margin: 0;	
	padding: 5px 0;
}

/* FABRICATION */

#mainFabrication, #contactMain {
	padding: 20px 50px;
	text-align: center;
}
#mainFabricationImg {
	width: 100%;
	aspect-ratio: 1/0.25;
	margin-top: 25px;
	border-radius: 15px;
	background: url("./Images/fabricationHero.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#mainFabricationSteps {
	margin-top: 50px;
}
.mainFabricationItem {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	text-align: left;
	margin-bottom: 50px;
	width: 100%;
}
.mainFabricationItemImg {
	width: 25%;
	aspect-ratio: 1/0.6;
	border-radius: 15px;
}
#fabricationImg1 {
	background: url("./Images/fabricationImg1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#fabricationImg2 {
	background: url("./Images/fabricationImg2.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 25%;
}
#fabricationImg3 {
	background: url("./Images/fabricationHero.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#fabricationImg4 {
	background: url("./Images/fabricationImg4.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 25%;
}
#fabricationImg5 {
	background: url("./Images/fabricationImg6.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 30%;
}
#fabricationImg6 {
	background: url("./Images/fabricationImg5.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.mainFabricationItemContent {
	width: 75%;
}
.mainFabricationItemNumber {
	background-color: #d5a779;
	color: white;
	padding: 10px 20px;
	font-size: 1.5rem;
	border-radius: 50%;
	font-family: "DM Serif Display", serif;
	margin-right: 15px;
}
.mainFabricationItem h2 {
	display: inline-block;
}
.mainFabricationItem p {
    margin-left: 70px;
}

/*  CONTACTER */

#contactMain {
	display: flex;
}
#contactMain h1, #contactMain h2 {
	font-size: 2.5rem;
}
#contactMain > div {
	width: 50%;
}
#contactMain > div:first-of-type {
	padding-right: 50px;
	border-right: 2px dotted black;
}
#contactForm {
	text-align: left;
	background-color: #fbf4f2;
	padding: 25px;
	border-radius: 15px;
}
#contactForm * {
	display: block;
	margin-bottom: 5px;
}
#contactForm input, #contactForm textarea {
	margin-bottom: 15px;
	border: 1px solid rgba(0,0,0,0.2);
	padding: 5px;
	width: 100%;
	border-radius: 3px;
}
#contactForm textarea {
	resize: none;
	aspect-ratio: 1/0.15;
}
#contactForm .cta {
	border: none;
	cursor: pointer;
	margin-top: 25px;
	font-size: 1rem;
	padding: 20px 35px;
}
#contactEmail {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}
#contactEmailIcon {
	width: 25px;
}
.contacterCol a {
	text-decoration: none;
}
#contactIg {
	background-color: #fae0c7;
	padding: 10px 15px;
	display: flex;
	width: 3.5rem;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	box-shadow: 8px 8px 10px 1px rgba(0,0,0,0.15);
	margin: 0 auto;
	margin-top: 15px;
}
#contactIg img {
	width: 2rem;
}
#contactImg {
	border-radius: 15px;
	width: calc(100% - 50px);
	aspect-ratio: 1/0.8;
	margin: 25px 0 0 50px;
	background: url("./Images/contactImg.png");
	background-repeat: no-repeat;
	background-position: center 35%;
	background-size: cover;
}

/* ACHETER */

#mainAcheter {
	padding: 20px 50px;
	display: flex;
	gap: 25px;
}
#acheterImg {
	width: 40%;
	aspect-ratio: 1/1.25;
	border-radius: 15px;
	background: url("./Images/homeHeader.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 25%;
}
#acheterContent p {
	margin-bottom: 0;
}
#itemPrice {
	font-size: 2rem;
	font-family: "DM Serif Display", serif;
}
hr {
	margin-top: 25px;
	border: 1px solid rgba(0,0,0,0.075);
}
.sizeContainer {
	display: flex;
	gap: 10px;
	margin-bottom: 25px;
}
.size {
	cursor: pointer;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px 25px;
	font-weight: 600;
}
.activeSize {
	background-color: #1b1455;
	color: white;
}
.colorContainer {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-top: 10px;
}
.active {
	padding: 7px;
	border: 2px solid black;
	border-radius: 10px;
	position: relative;
	cursor: pointer;
}
.active:after {
	content: "";
	background-color: rgba(0,0,0,0.1);
	background-image: url("./Images/tick.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 25px;
	width: 100%;
	aspect-ratio: 1/1;
	position: absolute;
	top: 0;
	left: 0;
}
.color {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	cursor: pointer;
}
#cream { background: url("./Images/white.png"); background-size: cover; }
#brown { background: url("./Images/brown.png"); background-size: cover; }
#black { background: url("./Images/black.png"); background-size: cover; }
#pink { background: url("./Images/pink.png"); background-size: cover; }
#blue { background: url("./Images/blue.png"); background-size: cover; }
#buyButton {
	border: none;
	margin-top: 25px;
	cursor: pointer;
	padding: 15px 50px;
}

@media (max-width: 1100px) {
	p, a, li, input, textarea, label, button {
		font-size: 0.9rem;
	}
	h1 {
		font-size: 2rem;
	}
	h2, #itemPrice {
		font-size: 1.5rem;
	}
	h3 {
		font-size: 1.25rem;
	}
	nav a img {
		width: 35%;
		min-width: 50px;
	}
	#menuPhone {
		display: inline;
	}
	.navLinksContainer {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		flex-direction: column;
		align-items: center;
		text-align: center;
		justify-content: center;
		background-color: #f8f3ea;
		width: 100vw;
		height: 100vh;
	}
	.navLinksContainer a {
		margin-left: 0;
	}
	.cta, .navLinksContainer a:not(.cta) {
		width: 25%;
		min-width: 150px;
	}
    #homeMain {
        display: flex;
        flex-direction: column;
    }
    #homeMain > * {
        width: 100%;
    }
    #homeHeaderContentContainer {
        width: 100%;
    }
    #homeHeaderImg {
        width: 50%;
        height: auto;
        aspect-ratio: 1/1.3;
        border-radius: 15px;
        margin: 0 auto 50px auto;
        display: block;
    }
    #homeHeaderContentContainer {
        padding-right: 0;
        justify-content: center;
    }
    #homeHeaderContent {
        color: #000080;
        width: 75%;
        text-align: center;
        margin: 50px auto;
    }
	#homeHeaderContent h1 {
		line-height: 2.5rem;
	}
	#mainAcheter {
		flex-direction: column;
	}
	#acheterImg {
		width: 60%;
		min-width: 200px;
		aspect-ratio: 1/1.25;
	}
}
@media (max-width: 800px) {
	#mainFabricationImg {
		aspect-ratio: 1/0.65;
	}
	.mainFabricationItemImg {
		display: none;
	}
	.mainFabricationItemContent {
		width: 100%;
	}
	#contactMain {
		flex-direction: column;
	}
	#contactMain > div {
		width: 100%;
	}
	#contactMain > div:first-of-type {
		border-right: none;
		padding-right: 0;
		padding-bottom: 50px;
		border-bottom: 2px dotted black;
	}
	#contactImg {
		width: 100%;
		margin-left: 0;
	}
}
@media (max-width: 450px) {
	.mainFabricationItem p {
	    margin-left: 0;
	}
}